{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Finger+Paint&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'blog/css/main.css'  %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<style>
		html {
			scroll-behavior: smooth;
		}

		.jumbotron {
			width: 40%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			background-color: aquamarine;
		}

		.btn {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.abc {
			color: blue;
			font-size: 18px;
			text-decoration: underline;
		}

		.image_container {
			top: -700px;
		}

		.head {
			font-family: 'Fredericka the Great', cursive;
			font-size: 80px;
			text-align: center;
			color: aqua;
			padding: 10px;
			padding-top: 60px;

		}
	</style>

</head>

<body id="">

	<div style=" background-color:aquamarine" class="">
		<div class="image_container">
			<img src="{% static 'blog/media/atom.svg'  %}" alt="Avatar" class="overlay_image">
			<div class="image_overlay">
				<div class="container head">
					Write and Share your notes
					<p style="font-family: 'Finger Paint', cursive;font-size:20px; text-align: justify">"Lorem ipsum
						dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum."</p>
					<p style="font-family: 'Finger Paint', cursive;font-size:20px; text-align: justify">"Lorem ipsum
						dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum."</p>

				</div>
				<div style="text-align: center">
					<a href="#main" style="font-size: 20px;color:bisque;">Click Here</a>
					<P style="color: #e7f2fdad">(or scrolldown)</P>
				</div>

			</div>
		</div>
		<div id="main" style=" height:660px;padding-top:20px">
			<section id="registrationform" class="jumbotron" style="background-color: lightgray">
				<h1 class="display-3">Register
					<span class="lead" style="font-size: 14px;">or</span>
					<span class="lead abc" id="login">Login</span>
				</h1>
				<hr class="my-2">
				<!-- <form method="POST" action=""> -->
				{% csrf_token %}
				<div class="form-group">
					<label for="name">Name</label>
					<input type="TEXT" class="form-control" name="name" id="name" placeholder="Enter your name">
				</div>
				<div class="form-group">
					<label for="mobile_no">Contact no</label>
					<input type="number" class="form-control" name="mobile_no" id="mobile_no" placeholder="0123456789"
						minlength="10" maxlength="10">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="*********">
				</div>
				<div class="form-group">
					<label for="Password">Confirm Password</label>
					<input type="password" class="form-control" name="password2" id="password2" placeholder="*********">
				</div>
				<button type="submit" class="btn btn-primary" onclick="registrationData()">Submit</button>
				<!-- </form> -->
			</section>
			<section id="loginform" class="jumbotron "
				style="align-content: center;display: none;background-color: lightgray; margin-top: 70px;">
				<h1 class="display-3">Login
					<span class="lead" style="font-size: 14px;">or</span>
					<span class="lead abc" id="register">Register</span>
				</h1>
				<hr class="my-2">
				<form method="POST" action="{% url 'blog-Login' %}">
					{% csrf_token %}
					<div class="form-group">
						<label for="mobile_no">Contact no</label>
						<input type="text" class="form-control" name="mobile_no" id="mobile_no" placeholder="0123456789"
							minlength="10" maxlength="10">
					</div>
					<div class="form-group">
						<label for="Password">Password</label>
						<input type="password" class="form-control" name="password" id="password"
							placeholder="*********">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<div id="showhere"></div>
			</section>
			<script>
				$(document).ready(function () {
					$("#login").click(function () {
						$("#registrationform").hide();
						$("#loginform").show();
					});
					$("#register").click(function () {
						$("#loginform").hide();
						$("#registrationform").show();
					});
				});

				function registrationData() {
					var name = $('#name').val();
					if (name = "") {
						alert("Please Enter Your Name");
					}
					// var email = $('#email').val();
					var mobile_no = $('#mobile_no').val();
					if ((mobile_no = "") || (mobile_no = null)) {
						alert("Please Enter Your mobile_no");
					}
					var password = $('#password').val();
					var password2 = $('#password2').val();
					if ((password != "") || (password != null) && (password == password2)) {
						$.ajax({
							type: "GET",
							url: "{% url 'blog-Registration' %}",
							data: { 'name': name, 'mobile_no': mobile_no, 'password': password },
							success: function (data) {
								// $("#showdata").html(data);
								$("#loginform").show();
								$("#registrationform").hide();
								//alert(data);
							}
						});
					}
					else {
						alert("password mismatch");
					}
				}
			</script>
		</div>
	</div>
</body>