{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'blog/css/main.css'  %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<script src="{% static 'blog/js/jquery.min.js' %}"></script>
	<style>
		html {
			scroll-behavior: smooth;
		}

		.jumbotron {
			width: 40%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			background-color: aquamarine;
		}

		.btn {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.abc {
			color: blue;
			font-size: 18px;
			text-decoration: underline;
		}

		.image_container {
			top: -700px;
		}
	</style>

</head>

<body>

	<div style=" background-color:aquamarine" class="">
		<div class="image_container">
			<img src="{% static 'blog/media/atom.svg'  %}" alt="Avatar" class="overlay_image">
			<div class="image_overlay">
				<a href="#main" class="btn btn-primary text">Click Here</a>
			</div>
		</div>
		<div id="main">
			<section id="registrationform" class="jumbotron" style="align-content: center;">
				<h1 class="display-3">Register
					<span class="lead" style="font-size: 14px;">or</span>
					<span class="lead abc" id="login">Login</span>
				</h1>
				<hr class="my-2">
				<!-- <form method="POST" action=""> -->
				{% csrf_token %}
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
				</div>
				<div class="form-group">
					<label for="mobile_no">Contact no</label>
					<input type="text" class="form-control" name="mobile_no" id="mobile_no" placeholder="0123456789"
						minlength="10" maxlength="10">
				</div>
				<div class="form-group">
					<label for="Password">Password</label>
					<input type="password" class="form-control" name="password" id="password" placeholder="*********">
				</div>
				<div class="form-group">
					<label for="Password">Confirm Password</label>
					<input type="password" class="form-control" name="password2" id="password2" placeholder="*********">
				</div>
				<button type="submit" class="btn btn-primary" onclick="registrationData()">Submit</button>
				<!-- </form> -->
			</section>
			<section id="loginform" class="jumbotron " style="align-content: center;display: none">
				<h1 class="display-3">Login
					<span class="lead" style="font-size: 14px;">or</span>
					<span class="lead abc" id="register">Register</span>
				</h1>
				<hr class="my-2">
				<form method="POST" action="{% url 'blog-Login' %}">
					{% csrf_token %}
					<div class="form-group">
						<label for="mobile_no">Contact no</label>
						<input type="text" class="form-control" name="mobile_no" id="mobile_no" placeholder="0123456789"
							minlength="10" maxlength="10">
					</div>
					<div class="form-group">
						<label for="Password">Password</label>
						<input type="password" class="form-control" name="password" id="password"
							placeholder="*********">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</section>
			<script>
				$(document).ready(function () {
					$("#login").click(function () {
						$("#registrationform").hide();
						$("#loginform").show();
					});
					$("#register").click(function () {
						$("#loginform").hide();
						$("#registrationform").show();
					});
				});

				function registrationData() {
					var name = $('#name').val();
					var mobile_no = $('#mobile_no').val();
					var email = $('#email').val();
					var password = $('#password').val();
					var password2 = $('#password2').val();
					// alert("hello");
					if (password == password2) {
						$.ajax({
							type: "GET",
							url: "{% url 'blog-Registration' %}",
							data: { 'name': name, 'mobile_no': mobile_no, 'email': email, 'password': password },
							success: function (data) {
								// $("#showdata").html(data);
								$("#loginform").show();
								$("#registrationform").hide();
								//alert(data);
							}
						});
					}
					else {
						alert("password mismatch");
					}
				}
			</script>
		</div>
	</div>
</body>