<div id="here">
    <input type="checkbox" name="vehicle3" value="Write"  id="cheakbox"checked> Write
    <form id="idForm">
        <!-- {% csrf_token %} -->
        {% for pi in userdata %}
        <select name="users" id="selectthis" multiple>
            <li>
                <option value="{{ pi.id }}">{{ pi.name }}</option>
            </li>
        </select>
        {% endfor %}

    </form>
    <button id="option" type="submit" class="btn btn-outline-secondary">Submit</button>
    <p id="sd"></p>

    <script>
        $(document).ready(function () {
            $("#option").click(function () {
                var hello = $("#idForm").serialize();
                var res = hello.substring(6);
                var str = res.split("&users=");
                var cheak=$("#cheakbox").val();
                // alert(cheak);
                // alert(str);
                // $("#sd").text(str);  
                $.ajax({
                    type: "GET",
                    url: "{% url 'blog-Share_option_save' %}",
                    data: { str: str ,cheak:cheakbox },
                    success: function (data) {
                        // alert(data);
                        $("#showhere").html(data);
                    }
                });

            });
        });
    </script>
</div>