{% if notesdata  %}
{% for item in notesdata  %}
{% if userid  in item.sharetoReadOnly or userid  in item.sharetoRW  %}
<section class="container" id="notes_container">
    <div class="container bg-info" style="width:100%">
        <div class="card">
            <div class="row">
                <div class="col-md-11 px-3">
                    <div class="card-block px-5"><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="card-title text-justify" style="text-decoration-line: underlin   ">
                                    <strong> {{item.title}}...</strong>
                                </h3>
                            </div>
                            <div class="col-sm-6">
                                <p style="text-align:right">{{item.creation_date}}</p>
                                <p style="text-align:right"> Shared By<strong> {{item.username}}</strong></p>
                            </div>  
                        </div>

                        <hr style="border-top-color: #1d211a;">
                        <div id="Update_{{item.id}}">
                            <p id="notes_{{item.id}}" class="card-text">{{item.blog_notes}} </p>
                            <div style="text-align-last: right">
                                <!-- <a href="" class="btn ">Read More</a> -->
                                {% if userid  in item.sharetoRW %}
                                <a id="{{item.id}}" class="btn btn-outline-primary"
                                    onclick="update_notes(this)">Update</a>
                                {% endif %}
                                <!-- <a id="delete_{{pi.id}}" class="btn btn-outline-danger"
                                      onclick="delete_notes(this)">Delete</a>
                                  <a id="Share_{{pi.id}}" class="btn btn-outline-success"
                                      onclick="share_option(this)">Share</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
{% endif %}
{% endfor %}
{% else %}
<div style="text-align-last: center;">
    <h1 style="color: 0373e36e !important;"> No Notes Found </h1>
</div>
{% endif %}