{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/main.css'  %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap4.3.1.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/iziToast.min.css' %}">
    <script src="{% static 'blog/js/ajax.js' %}"></script>
    <script src="{% static 'blog/js/iziToast.min.js' %}"></script>
    <!-- cdn for toasts -->


    <style>
        .jumbotron {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 5%;
        }
    </style>
</head>

<body id="newbody" style="background-color: #fff;;">

    <!-- -----------------------------Nav Bar-------------------------------------- -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #5f788a; ">

        <div class="collapse navbar-collapse" id="collapsibleNavId" style=" font-size:14px">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <span class="sr-only">{{username}}</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()"> Logout</a>
                </li>
            </ul>
            <input class="form-control mr-sm-2" type="text" id="Searchinput" placeholder="Search"
                style="width: 15%;display: inline-block;">
            <button class="btn btn-outline-light my-2 my-sm-0" id="searchbutton">Search</button>
        </div>
    </nav>
    <!-- ----------------------------------body--------------------------------------------- -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8" id="mainbody">
                {% if  messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor%}
                {% endif %}
                <!-- <button id="" class="btn btn-success" onclick="showhere()">Add notes</button> -->
                {% if data  %}
                {% for pi in data  %}

                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-5" href="#" style="font-size: 1.7rem;"
                                onclick="userprofile({{pi.posted_by.id}})">
                                {{ pi.posted_by.name}}
                            </a>
                            <small class="text-muted">{{ pi.posted_on|date:"F d, Y" }}</small>
                        </div>
                        <h2><a class="article-title" href="#"></a></h2>
                        <p class="article-content">{{ pi.text }}</p>
                        <hr style="border-color: #5f788a;">

                        <textarea class="form-control mr-sm-2" type="text" id="newcomment_{{pi.id}}"
                            placeholder="Add Comment" style="width: 70%;display: inline-block;"></textarea>

                        <button id="{{pi.id}}" class="btn btn-outline-primary my-2 my-sm-0"
                            onclick="savecomment(this)">Comment</button>
                        <a class="btn " onclick="CommentBy({{pi.id}})">{{pi.comments_count}}</a>
                        {% if pi.id in listliked  %}
                        <a href="" onclick="" style="color: blue;">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        {% else %}
                        <a class="btn " onclick="like_post({{pi.id}})">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        {% endif %}


                        <a class="btn " onclick="likedby({{pi.id}})">{{pi.likes_count}}</a>
                        <br>
                        <small id="commentHelpId" class="form-text   " style="color: #ad3535;"></small>
                        <div class="container" id="showcomments_{{pi.id}}">
                        </div>
                    </div>
                </article>
                {% endfor %}
                {% else %}
                <div style="text-align-last: center;">
                    <h1 style="color: 0373e36e !important;"> No Notes Found </h1>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3><a href="#" onclick="userprofile({{ request.session.userid }})">{{ request.session.name }}</a>
                    </h3>

                    <ul class="list-group">
                        <p class='text-muted'>
                            <li class="list-group-item list-group-item-light">
                                <a class="nav-link" href="#" onclick="showrequest()">Friend Request
                                    {{ request.session.recount }}</a>
                            </li>
                            <!-- <li class="list-group-item list-group-item-light">Announcements</li>
                            <li class="list-group-item list-group-item-light">Calendars</li>
                            <li class="list-group-item list-group-item-light">etc</li> -->
                        </p>
                        <small id="PostHelpId" class="form-text   " style="color: #ad3535;"></small>
                        <textarea id="notes" cols="auto" rows="5" name="notes" /
                            placeholder=" Write Something to Post  "></textarea>
                        <input type="button" class="btn btn-outline-info" value="POST" onclick="PostBlog()" />
                    </ul>


                </div>
            </div>
        </div>
    </main>





    <!-- for search results -->
    <div style="text-align:center;width:60%; ">
        <div id="searchresult"
            style="display: none; text-align:center; z-index: 2; position:  absolute;top: 9%; right:0%; background-color: #e1dddd9b;  width: 40%; max-width: 21%;max-height: 50%; overflow-y: scroll; border: solid 1px #e1dddd9b;">
        </div>
    </div>
    <!--  for a request list -->
    <div id=" requestList" style="display: none">
    </div>
    <div id="showhere" style="z-index: 1;">
    </div>
    <script>
        $(document).ready(function () {
            $("#disply_textbox").change(function () {
                $("#searchaterm").val();
            });
        });

        $(document).ready(function () {
            $("#disply_textbox").click(function () {
                $("#text_note").show();
                $("#searchresult").hide();
                $("#showhere").hide();

            });
        });
        $(document).ready(function () {
            $("#hide_textbox").click(function () {
                $("#text_note").hide();
                $("#showhere").show();

            });
        });


        function like_post(id) {

            console.log(id);
            $.ajax({
                type: 'GET',
                url: "{% url 'blog-like_post' %}",
                data: { id: id },
                success: function (data) {
                    iziToast.info({
                        // title: 'Caution',
                        message: data,
                    });
                }
            });

        }
        function PostBlog() {
            // var title = $('#title').val();
            var notes = $('#notes').val();
            if (notes == null || notes == "" ||
                notes == undefined ||
                notes.length == 0) {
                $("#PostHelpId").text("Please Enter Something To Post")
                // alert("Please Enter a valid Mobile Number\n");
                return false;
            }
            // alert(notes);
            $.ajax({
                type: "GET",
                url: "{% url 'blog-Save_notes' %}",
                data: { 'notes': notes, 'type': "text" },
                success: function (data) {
                    $('#notes').val("");
                    $("#newbody").html(data);
                }
            });
        }
        function logout() {
            // alert("sharedto me");
            $.ajax({
                type: "GET",
                url: "{% url 'blog-delete' %}",
                success: function (data) {
                    // alert(data);
                    $("#newbody").html(data);
                }
            });
        }

        function likedby(id) {
            console.log("here");
            $.ajax({
                type: "GET",
                url: "{% url 'blog-likedby' %}",
                data: { 'id': id, },
                success: function (data) {
                    $("#showcomments_" + id).html(data);
                }
            });
        }
        function CommentBy(id) {
            // alert(id);
            console.log("here");
            $.ajax({
                type: "GET",
                url: "{% url 'blog-commentsby' %}",
                data: { 'id': id, },
                success: function (data) {
                    // alert(data);
                    $("#showcomments_" + id).html(data);
                    $("#showcomments_" + id).show();
                }
            });

        }
        function savecomment(e) {
            // var title = $('#title').val();
            console.log("hello this is the comment save");
            console.log(e);
            var id = $(e).attr('id');
            // var nw = ids.split("_");
            // var id = nw[1];
            var iserror = false;
            var newcomment = $('#newcomment_' + id).val();
            if (newcomment == null ||
                newcomment == undefined ||
                newcomment.length == 0) {
                $("#commentHelpId").text("Please Something to Commment")
                return false;
            }
            $.ajax({
                type: "GET",
                url: "{% url 'blog-comment_save' %}",
                data: { 'id': id, 'newcomment': newcomment },
                success: function (data) {
                    // alert(data);
                    $("#showcomments_" + id).html(data)
                    $('#newcomment_' + id).val("");
                    iziToast.success({
                        message: "comment saved",
                    });
                }
            });
        }

        $(document).ready(function () {
            $("#searchbutton").click(function () {
                var searchTerm = $("#Searchinput").val();
                $("#searchresult").show();
                $("#searchresult").val("Searching....");
                $.ajax({
                    type: "GET",
                    url: "{% url 'blog-SearchUser' %}",
                    data: { 'searchTerm': searchTerm },
                    success: function (data) {
                        // alert(data);
                        $("#searchresult").html(data);
                    }
                });
            });
        });

        function userprofile(id) {
            // alert(id);
            console.log(id);
            $.ajax({
                type: "GET",
                url: "{% url 'blog-userprofile' %}",
                data: { 'id': id, },
                success: function (data) {
                    // alert(data);
                    $("#searchresult").hide();
                    $("#mainbody").html(data);
                }
            });

        }

        function closelist() {
            $("#searchresult").hide();
        }

        function showrequest() {
            // alert("data");
            $.ajax({
                type: "GET",
                url: "{% url 'blog-conrequiestList' %}",
                // data:{ 'id': id },
                success: function (data) {
                    // alert(data);
                    // $("#searchresult").show();
                    $("#mainbody").html(data);
                }
            });
        }
        function accepted(id) {
            // alert(id);
            $.ajax({
                type: "GET",
                url: "{% url 'blog-accept_reject_request' %}",
                data: { 'status': "accept", 'requested_by': id },
                success: function (data) {
                    $("#mydiv_" + id).hide();
                    iziToast.info({
                        message: data,
                    });
                }
            });
        }
        function reject(id) {
            // alert(id);
            $.ajax({
                type: "GET",
                url: "{% url 'blog-accept_reject_request' %}",
                data: { 'status': "reject", 'requested_by': id },
                success: function (data) {
                    $("#mydiv_" + id).hide();
                    iziToast.info({
                        message: data,
                    });
                }
            });
        }

        // function dashboard() {
        //     $.ajax({
        //         type: "GET",
        //         url: "{% url 'blog-user_post' %}",
        //         success: function (data) {
        //             $("#mainbody").html(data);
        //         }
        //     });
        // }
    </script>

</body>

</html>